apiVersion: custompodautoscaler.com/v1
kind: CustomPodAutoscaler
metadata:
  name: predictive-autoscaler
  namespace: default
spec:
  template:
    spec:
      containers:
      - name: predictive-autoscaler
        image: docker.io/younesnb/predictive-k8s-autoscaler:v1.0.0
        imagePullPolicy: Always
        env:
          - name: FEATURE_SET
            value: "cpu_mem"
          - name: PROMETHEUS_URL
            value: "http://prometheus-stack-kube-p-prometheus.monitoring.svc.cluster.local:9090"
          - name: TARGET_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: php-apache 
  config:
    - name: interval
      value: "60000"