numpy>=2.5.1
polars>=1.43.2
torch>=2.13.0
pyarrow>=25.0.0
pandas>=3.0.5
matplotlib>=3.11.1
python-dateutil>=2.9.0.post0
scipy>=1.18.0
duckdb>=1.5.5
kneed>=0.8.6
scikit-learn>=1.9.0
joblib>=1.5.3
pytz>=2026.3.post1
accelerate>=1.14.0
statsmodels>=0.14.6
vmdpy>=0.2
PyWavelets>=1.9.0
requests>=2.34.2
tqdm>=4.70.0
google-cloud-bigquery>=3.42.3
EntropyHub>=2.0