numpy>=2.4.4
polars>=1.39.3
torch>=2.11.0
pyarrow>=23.0.1
pandas>=3.0.2
matplotlib>=3.10.8
python-dateutil>=2.9.0
scipy>=1.17.1
duckdb>=1.5.2
kneed>=0.8.6
scikit-learn>=1.8.0
joblib>=1.5.3
pytz>=2026.2
accelerate>=1.13.0
statsmodels>=0.14.0
vmdpy>=0.2
PyWavelets>=1.9.0
requests>=2.32.0
tqdm>=4.67.0
google-cloud-bigquery>=3.31.0